<!DOCTYPE html>
<html>
<head>
    <title>Страница создания компании</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }

        .input-field {
            position: relative;
            width: 300px;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .error-message {
            top: 0;
            left: 100%;
            margin-left: 10px;
            color: red;
            font-size: 12px;
            text-align: left;
            white-space: nowrap;
        }

        .input-field.error {
            border-color: red;
        }

        .button {
            width: 300px;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #2196F3;
            color: white;
            font-size: 16px;
            cursor: pointer;
            box-sizing: border-box;
        }

        .button-wrapper {
            width: 300px;
            margin: 0 auto;
        }

        .button:hover {
            background-color: #0b7dda;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Создание компании</h1>
        <div>
            <input type="text" class="input-field" id="companyName" placeholder="Название компании" onclick="removeCompanyClasses()"/>
            <div id="companyNameError" class="error-message"></div>
        </div>
        <br>
        <div>
            <input type="number" class="input-field" id="uuid" placeholder="UUID" onclick="removeUuidClasses()"/>
            <div id="uuidError" class="error-message"></div>
        </div>
        <br>
        <div class="button-wrapper">
            <button class="button" onclick="createCompany()">Создать</button>
        </div>
        <div id="creationClass" class="error-message" style="margin-top:15px;"></div>
    </div>

    <script>
        function removeCompanyClasses() {
            var company = document.getElementById('companyName');
            var companyError = document.getElementById('companyNameError');
            company.classList.remove('error');
            companyError.textContent = '';
        }

        function removeUuidClasses() {
            var uuid = document.getElementById('uuid');
            var uuidError = document.getElementById('uuidError');
            uuid.classList.remove('error');
            uuidError.textContent = '';
        }

        async function createCompany() {
            var companyNameInput = document.getElementById('companyName');
            var uuidInput = document.getElementById('uuid');
            var companyNameError = document.getElementById('companyNameError');
            var uuidError = document.getElementById('uuidError');
            var creationClass = document.getElementById('creationClass');

            var companyName = companyNameInput.value;
            var uuid = uuidInput.value;

            // Сброс предыдущих ошибок
            companyNameInput.classList.remove('error');
            companyNameError.textContent = '';
            uuidInput.classList.remove('error');
            uuidError.textContent = '';
            creationClass.textContent = '';

            // Проверка заполненности полей
            if (companyName === '') {
                companyNameInput.classList.add('error');
                companyNameError.textContent = 'Название должно быть заполнено';
            }

            if (uuid === '') {
                uuidInput.classList.add('error');
                uuidError.textContent = 'UUID не может быть пустым';
            }

            // Проверка наличия ошибок
            var hasErrors = document.querySelectorAll('.error').length > 0;

            if (hasErrors) {
                return;
            }
            var myHeaders = new Headers();
            myHeaders.append('Accept', 'application/json')
            myHeaders.append('Content-Type', 'application/json');

            const request = new Request(`http://127.0.0.1:3000/api/v1/companies`, {
                method: "POST",
                body: JSON.stringify({
                    company_name: companyName,
                    uuid: uuid
                }),
                headers: myHeaders,
                mode: "cors"
            });
            let response = await fetch(request)
            let result = await response.json();

            if (response.status === 201) {
                window.location.href = "/users/create.html";
            } else if (response.status === 422) {
                let resultstr = "";
                for(let i = 0; i < result.errors.length; i++) {
                    resultstr = resultstr.concat("\n", result.errors[i]);
                }
                creationClass.textContent = resultstr;
            }
        }
    </script>
</body>
</html>